  body {
    background: #f7f7f7;
  }
    
  .login-cointainer {
    display: block;
    height: 100%;
    margin-top: 5rem;
    margin-bottom: auto;
  }  

  .main-cointainer {
    display: block;
    height: 100%;
    margin-top: 5rem;
    margin-bottom: auto;
  }  
  
  .car {
    margin-bottom: 0.5rem;
  }
  
  .button-add {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 12px;
  }  
  
  .login-buttons {
    width: 100%;
    margin: 4px;    
  }
  
  .img-logo {
    width: 40%;
    height: 40%;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  
  .img-car {
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .img-loading {
    display: block;
    height: 40%;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
    margin-bottom: auto;
  }
  
  .loading-label {
    color: rgb(62, 87, 209);
    margin: 0;
    font-size: 1rem;
    text-align: left;
    /* margin-top: 8px; */
    min-height: 1em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1em;
    /* align-items: center; */
    display: block;
    align-content: center;
    text-align: center;
  }
  
  
  .img-error {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    height: 50%;
    width: 50%;
  }
  
  .error-label {
    color: #f52409;
    margin: 0;
    font-size: 1.5rem;
    text-align: left;
    /* margin-top: 8px; */
    min-height: 1em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1em;
    /* align-items: center; */
    display: block;
    align-content: center;
    text-align: center;
  }

  
  img:hover img.img-car {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
  }
  
  .header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display:block;
    font-size:1rem;
    font-weight:bold;
    background-image: linear-gradient(#f7f7f7, #ffffff);
  }
  
  
  