.img-logo {
  width: 40%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
}


.img-car {
  display: block;
  height: 100%;
  width: 100%;
}
img:hover img.img-car {
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
      box-shadow: 1px 1px 5px #999;
}

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display:block;
  font-size:1rem;
  font-weight:bold;
  background-image: linear-gradient(#f7f7f7, #ffffff);
}


